################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/BaseArchitecture.ApiGateway/bin
/src/BaseArchitecture.Api/bin
/src/BaseArchitecture.Application/bin
/src/BaseArchitecture.Domain/bin
/src/BaseArchitecture.Infrastructure/bin
/src/BaseArchitecture.Common/bin
/src/BaseArchitecture.ExternalServices/bin
/src/BaseArchitecture.ApiGateway/obj
/src/BaseArchitecture.Api/obj
/src/BaseArchitecture.Application/obj
/src/BaseArchitecture.Domain/obj
/src/BaseArchitecture.Infrastructure/obj
/src/BaseArchitecture.Common/obj
/src/BaseArchitecture.ExternalServices/obj
/src/BaseArchitecture.Api/.config
/src/BaseArchitecture.Api/LogFile

*/bin/Debug/*




*.pdb
*.dll
*.[cC]ache
*.[sS]uo
*.assets.cache

!?*.[Cc]ache/


.vs/
[bB]uild/
[dD]ebug/
[oO]bj/

[vV]17/